In [80]:
import pandas as pd
import numpy as np
import pandas_profiling

ImportError: cannot import name 'ABCIndexClass' from 'pandas.core.dtypes.generic' (C:\Users\matti\anaconda3\lib\site-packages\pandas\core\dtypes\generic.py)

In [81]:
df3 = pd.read_csv('datasets/cardio_train.csv', delimiter=';')
print(df3.shape)
df3.head()

(70000, 13)

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

#### Getting information

In [73]:
df3.describe(include='all')

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,bmi
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000
mean,49972.419900,52.840671,1.349571,1.643592,74.205690,128.817286,96.630414,1.366871,1.226457,0.088129,0.053771,0.803729,0.499700,27.064771
std,28851.302323,6.766774,0.476838,0.082101,14.395757,154.011419,188.472530,0.680250,0.572270,0.283484,0.225568,0.397179,0.500003,6.101346
min,0.000000,29.000000,1.000000,0.550000,10.000000,-150.000000,-70.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,3.000000
25%,25006.750000,48.000000,1.000000,1.590000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,23.000000
50%,50001.500000,53.000000,1.000000,1.650000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,26.000000
75%,74889.250000,58.000000,2.000000,1.700000,82.000000,140.000000,90.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000,30.000000
max,99999.000000,64.000000,2.000000,2.500000,200.000000,16020.000000,11000.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000,298.000000

### Checking for null values

In [71]:
df3.isnull().sum()

id             0
age            0
gender         0
height         0
weight         0
ap_hi          0
ap_lo          0
cholesterol    0
gluc           0
smoke          0
alco           0
active         0
cardio         0
bmi            0
dtype: int64

In [72]:
df3.isna().sum()

id             0
age            0
gender         0
height         0
weight         0
ap_hi          0
ap_lo          0
cholesterol    0
gluc           0
smoke          0
alco           0
active         0
cardio         0
bmi            0
dtype: int64

#### Changed the age from days to years

In [37]:
df3['age']=df3['age']/365

#### Changed the age into a int

In [38]:
df3['age']=df3['age'].astype(int)

#### thought it would be nice to now use the data I have to get new data
#### The BMI

#### I change height to be in meters

In [52]:
df3['height']=df3['height']/100

#### Run the formular

In [67]:
height2=(df3['height'])*(df3['height']);
df3['bmi']=(df3['weight']/height2)
df3['bmi']=df3['bmi'].astype(int)

In [76]:
df3

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,bmi
0,0,50,2,1.68,62.0,110,80,1,1,0,0,1,0,21
1,1,55,1,1.56,85.0,140,90,3,1,0,0,1,1,34
2,2,51,1,1.65,64.0,130,70,3,1,0,0,0,1,23
3,3,48,2,1.69,82.0,150,100,1,1,0,0,1,1,28
4,4,47,1,1.56,56.0,100,60,1,1,0,0,0,0,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,52,2,1.68,76.0,120,80,1,1,1,0,1,0,26
69996,99995,61,1,1.58,126.0,140,90,2,2,0,0,1,1,50
69997,99996,52,2,1.83,105.0,180,90,3,1,0,1,0,1,31
69998,99998,61,1,1.63,72.0,135,80,1,2,0,0,0,1,27
69999,99999,56,1,1.70,72.0,120,80,2,1,0,0,1,0,24

In [77]:
profile = ProfileReport(df3)
profile

NameError: name 'ProfileReport' is not defined